:root {
    --primary-color: #4CAF4F;
    --background-color-1: #51AB3B26;
    --nav-color: #fff;
    --background-color-2: #F4F7FA;
    --text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    overflow-x: hidden;
}


html {
    font-size: 10px;
}

.header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    padding: 1.6rem 4rem;
    background: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

.logo, .navbar a {
    color: var(--nav-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.logo svg{
    fill: var(--Primary-80, #486856);
    flex-shrink: 0; 
    width: 4rem;
    height: 4rem;
}

.navbar {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 5.6rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.container:hover .drop-down {
    display: block;
    transition: 0.3s ease-in-out all;
}

.container a {
    display: flex;
    align-items: center;
}

.container .icon {
    vertical-align: middle;
    padding-left: 4px;
    font-size: 18px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.container:hover .icon {
    transform: rotate(180deg);
}

.drop-down li:hover {
    background: #EEEEEE;
    color: black;
}

.drop-down {
    position: absolute;
    display: flex;
    width: 250px;
    padding: 0.8rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    background: var(--nav-color);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    display: none;
    top: 100%;
    right: 0;
    z-index: 10;
}

.drop-down li {
    list-style: none;
    height: 100%;
    width: auto;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

.li-inner-container {
    display: flex;
    padding: 0.8rem 1.6rem;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.li-content {
    color: #000;
    font-family: "Inter";
    font-size: 1.4rem;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: auto;
    height: auto;
}

.link {
    display: block;
    text-decoration: none;
}

.Main-Content {
    display: flex;
    margin-top: 8rem;
    width: 100%;
    height: auto;
    padding: 4rem 8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    flex-shrink: 0;
    background-color: #FFF;
}

.big-block-1 {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.Section-1 {
    display: flex;
    width: 100%;
    height: auto;
    padding: 3.2rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
    align-self: stretch;
    border-radius: 1.6rem;
    background: #FAFAFA;
}

.big-block-2 {
    display: flex;
    width: 100%;
    height: auto;  
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
}

.big-block-2 svg {
    height: 16px !important;
    width: 8px !important;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px !important;
    height: 16px !important;
}

.block-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    width: auto;
    height: auto;
}

.icon-container {
    width: 1.6rem;
    height: 0.95rem;
    fill: var(--Gray-Gray-600, #85858A);
}

.block-4 {
    color: #000;
    font-family: "Inter";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.big-block-3, .big-block-4, .big-block-5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    flex: 1 0 0;
}



.block-5, .block-8, .block-11 {
    width: auto;
    height: auto;
    color: #000;
    font-family: "Inter";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block-6, .block-9, .block-12{
    display: flex;
    width: 100%;
    height: 36.5px;
    padding: 0.8rem 1.2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0.4rem;
    border: 1px solid #000;
}

input {
    font-family: "Inter";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
}

.block-6 svg {
    width: 0.8rem;
    height: 0.4rem;
    fill: var(--Gray-Gray-600, #85858A);
}


.big-block-6 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #FAFAFA;
}


.button-container {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    width: auto;
    height: auto;
}

.radio-button {
    color: #000;
    font-family: "Inter";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  /* Create a custom radio button */
  .custom-radio .radio-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid #AEAEB2;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    vertical-align: middle;
  }
  
  .custom-radio .radio-button:hover {
    opacity: 0.7;  
  }
  /* Style for when the radio button is checked */
  .custom-radio input[type="radio"]:checked + .radio-button {
    border: 2px solid #51AB3B;
  }
  
  /* Create the indicator for when it's checked */
  .custom-radio input[type="radio"]:checked + .radio-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 12px;
    background: #51AB3B;
    border-radius: 50%;
  }
  
.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    background-color: #FAFAFA;
}

.button {
    width: auto;
    height: auto;
    display: flex;
    padding: 0.8rem 2.4rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

#reset-button:hover {
    background-color: hsl(4, 100%, 35%);
    transition: 0.3s ease-in-out all;
}

#apply-button:hover {
    background-color: hsl(109, 55%, 35%);
    transition: 0.3s ease-in-out all;
}

#reset-button {
    background: #E01B00;
}

#apply-button {
    background: #51AB3B;
}

.button:hover {
    background-color: green; 
}

.inside-button {
    color: #FFF;
    font-family: "Inter";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Section-2 {
    display: flex;
    width: 100%;
    padding: 3.2rem;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 1.6rem;
    background: #FFF;
}

#filterSection {
    height: 68rem;
}

#noDataSection {
    height: 68rem;
}

#dataSection {
    height: auto;
}
.middle-block {
    display: flex;
    width: auto;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    color: #000;
}

.middle-block img {
    width: 15rem;
    height: 15rem;
    background: cover no-repeat;
}

.small-block-1 {
    color: #000;
    font-family: "Inter";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

table {
    width: 100%;
    border-radius: 8px;
    background: #FFF;
}

.header-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-wrap: nowrap;
    border-radius: 8px;

}


.header-cell {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E9E9;
    border-bottom: 1px solid #EEE;
    font-weight: 400;
    font-size: 14px;
}


.body-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-wrap: nowrap;

}

.body-cell {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEE;
    font-weight: 400;
    font-size: 14px;
}

.paginationjs {
        margin-top: 50px;
        flex-direction: row;
        gap: 8px;
        justify-content: center;
}

#average, #minimum, #maximum {
    margin-top: 50px;
}

.header-rank {
           width: 20%;
           padding: 16px;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;
           background-color: #E9E9E9;
           border-bottom: 1px solid #EEE;
           font-weight: 400;
           font-size: 14px;
}

.rank {
        width: 20%;
        padding: 16px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #EEE;
        font-weight: 400;
        font-size: 14px;
}

.title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #51AB3B;
}